<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration hours</title>
</head>
<body>
    <h1>Registration hours</h1>

    <table>
        <tr>
            <th>Time</th>
            <th>Number of registration</th>
        </tr>
        <% if hours_str.kind_of?(Array) %>
            <% hours_str.each do |hour_str| %>
                <tr>
                    <td><%= hour_str.first%></td>
                    <td><%= hour_str.length%></td>
                </tr>
            <%end%>
        <%end%>
    </table>
</body>
</html>