<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Active days</title>
</head>
<body>
    <h1>Active days</h1>

    <table>
        <tr>
            <th>Day</th>
            <th>Number of registration</th>
        </tr>

        <% if days_arr.kind_of?(Array)%>
            <% days_arr.each do |day_arr|%>

                <tr>
                    <td><%= day_arr.first %></td>
                    <td><%= day_arr.length %></td>
                </tr>

            <%end%>
        <%end%>
    </table>
</body>
</html>